name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v6
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          root_file: main.tex
      - name: Commit Updated PDF
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: 'main.pdf'
          commit_message: 'Automated: Update main.pdf report'
